//font and color code for reuse
@font-face{
    font-family: f1;
    src: url(/assets/fonts/Ubuntu-Bold.ttf);
}
@font-face {
    font-family:f2 ;
    src: url(/assets/fonts/Ubuntu-Regular.ttf);
}
body{
    padding: 0;
    margin: 0;
    font-family: f2;
    
}
// colors denoted in clname
 $Marineblue: hsl(213, 96%, 18%);
 $Purplishblue: hsl(243, 100%, 62%);
 $Pastelblue: hsl(228, 100%, 84%);
 $Lighblue: hsl(206, 94%, 87%);
$Strawberryred: hsl(354, 84%, 57%);
// colors 2
$Coolgray: hsl(231, 11%, 63%);
$Lightgray: hsl(229, 24%, 87%);
$Magnolia: hsl(217, 100%, 97%);
$Alabaster: hsl(231, 100%, 99%);
$White: hsl(0, 0%, 100%);
//style for background image moblie--
.bg_mobile{
    width: 100vw;
    height: 30vh;
    background-image: url(/assets/images/bg-sidebar-mobile.svg);
    background-position:inherit;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.num{
    border: 0.1px solid $White;
    width: 7.7vw;
    height: 4.8vh;
    margin: 3%;
    border-radius: 50%;
    font-size:3vmax;
    padding-top: 1%;
    color: $White;
    text-align: center;
    text-decoration: none;
    margin-bottom: 20%;
}
//style for from
.supportform{
    display: flex;
    justify-content: center;
    z-index: 2;
    display: flex;
    background-color:$Magnolia;
    height: 57vh;
} 
.form{
    width: 75vw;
    height: 60vh;
    position: fixed;
    top: 22%;
    background-color: $White;
    border-radius: 4%;
    box-shadow: 1px 1px 8px #888888;
    font-size: 2.5vmax;
    color: rgb(52, 105, 141) ;
    padding: 0% 0% 0% 10%;
    h6{
        font-size: 3vmax;
        padding: 0;
        margin: 9% 0 0 0;
        color: black;
    }
    p{
        font-size: 3vmax;
        color: $Coolgray;
        font-weight: lighter;
    }
    #form_input{
        width: 60vw;
        height: 3vh;
        border-radius: 4%;
        border: 0.1px solid $Coolgray;
        font-size: 2vmax;
        padding: 2%;
        margin: 2%;
        font-family: f2;
        
    }
    #form_input:focus {
        outline-width: 0;
    }
}
//style for next button
.bg_btn{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    button{
        background-color: $Marineblue;
        border: none;
        margin: 4%;
        border-radius: 7%;
        color: $White;
        font-family: f2;
        font-size: 3vmax;
        width: 28%;
        height: 7vh;
    }
}